<%- include("partials/header") %>
<h1>Stock Data</h1>
<h2>Add a new stock</h2>
<form action="/add" method="post">
  <div class="form-group">
    <label>Ticker symbol for stock</label>
    <input class="form-control" type="text" name="tickerSymbol">
  </div>
  <button class="btn btn-primary" type="submit">Add</button>
</form>
<% stocks.forEach(function(stock){ %>
  <div class="card" style="width: 400px;">
    <div class="card-body">
      <h5 class="card-title"><%= stock.symbol %></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/stocks/<%= stock.symbol %>" class="btn btn-primary">Stock information</a>
    </div>
  </div>
<% }) %>
<%- include("partials/footer") %>
